{% extends "base.html" %}

{% block content %}

<div id="adminApp">

    <h2 class="mb-4">Admin Dashboard</h2>

    <div class="row">

        <div class="col-md-4">
            <div class="card p-3">
                <h5>Total Treks</h5>
                <h2>{{ total_treks }}</h2>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-3">
                <h5>Total Users</h5>
                <h2>{{ total_users }}</h2>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-3">
                <h5>Total Bookings</h5>
                <h2>{{ total_bookings }}</h2>
            </div>
        </div>
        <div class="col-md-3 mb-3">

            <a href="/admin/monthly-report-page" class="btn btn-success w-100">

                Monthly Report

            </a>

        </div>

    </div>

</div>

<script src="{{ url_for('static', filename='js/admin.js') }}"></script>

{% endblock %}