{% extends "base.html" %}

{% block content %}

<div id="staffDashboardApp" class="container mt-4">

    <h2>
        Staff Dashboard
    </h2>

    <div class="row mt-4">

        <div class="col-md-6">

            <div class="card">

                <div class="card-body text-center">

                    <h5>
                        Assigned Treks
                    </h5>

                    <h2 v-text="totalTreks"></h2>

                </div>

            </div>

        </div>

        <div class="col-md-6">

            <div class="card">

                <div class="card-body text-center">

                    <h5>
                        Participants
                    </h5>

                    <h2 v-text="totalBookings"></h2>

                </div>

            </div>

        </div>

    </div>

</div>

<script src="{{ url_for(
'static',
filename='js/staff_dashboard.js'
) }}"></script>

{% endblock %}